@(changePasswordForm:Form[models.form.ChangePasswordForm], questions: List[SecurityQuestion])

@import helper._

@implicitField = @{
    FieldConstructor(bootstrap3Input.render)
}

@breadCrumb = @{
    val myMap = scala.collection.immutable.Map(
        "Users" -> controllers.admin.routes.UserController.index().toString()
    )
    sharedfunctions.BreadCrumbs.generate("Change Password", myMap);
}

@scripts = {
    <script type="text/javascript">
        $(document).ready(function(){
            @if(changePasswordForm.hasGlobalErrors) {
                bootbox.alert('@changePasswordForm.globalError.message');
            }
        });

        </script>
}

@main("Change Password",breadCrumb ,scripts){

    <div class="box box-default color-palette-box">
        <div class="box-header with-border"></div>
        <div class="box-body">
    @helper.form(controllers.routes.Password.changePassword(), 'class -> "form-horizontal"  ){
        @select(
            changePasswordForm("securityQuestion1"),
            questions.map(question => question.id.toString ->question.questionText),
            'class -> "form-control",
            '_label -> "Security Question One"
        )
        @inputText(
            changePasswordForm("securityAnswer1"),
            '_label -> "Answer",
            'class -> "form-control",
            'required -> ""
        )
//        @*select(
//            changePasswordForm("securityQuestion2"),
//            questionsTwo.map(question => question.id.toString ->question.questionText),
//            'class -> "form-control",
//            '_label -> "Security Question Two"
//        )
//        @inputText(
//            changePasswordForm("securityAnswer2"),
//            '_label -> "Answer",
//            'class -> "form-control",
//            'required -> ""
//        )
//
//        @select(
//            changePasswordForm("securityQuestion3"),
//            questionsThree.map(question => question.id.toString ->question.questionText),
//            'class -> "form-control",
//            '_label -> "Security Question Three"
//        )
//        @inputText(
//            changePasswordForm("securityAnswer3"),
//            '_label -> "Answer",
//            'class -> "form-control",
//            'required -> ""
//        )*@

        @inputPassword(
            changePasswordForm("oldPassword"),
            '_label -> "Old Password",
            'class -> "form-control form-control-square",
            'required ->""
        )


        @inputPassword(
            changePasswordForm("newPassword"),
            '_label -> "New Password",
            'class -> "form-control form-control-square"
        )

        @inputPassword(
            changePasswordForm("newPasswordConfirmation"),
            '_label -> "New Password (Confirmation)",
            'class -> "form-control form-control-square"
        )
        <br/>
        <br/>
        <input type="submit" value="Change" class="btn btn-primary">


    }
    </div></div>


    @if(changePasswordForm.hasGlobalErrors){
        <script>
            $(document).ready(function(){
              bootbox.alert('@changePasswordForm.globalError.message()');
            });
        </script>
    }
}