@(user: User)

    @import sharedfunctions._

    @scripts = {
        <script type="text/javascript">
                $('#transactions_table').DataTable({
                    "pagingType": "numbers",
                    "processing": true,
                    order: [[0, 'desc']],
                    "language": {
                        "processing": "Please wait"
                    },
                    "pageLength": 5,
                    "lengthChange": false,
                    "initComplete": function () {
                        console.log("initialize complete");
                    },
                    "searching": false,
                    "columnDefs": [
                        {
                            "targets": [1, 2],
                            "searchable": true,
                            "visible": true
                        }
                    ]
                });

                $('#account_table').DataTable({
                    "pagingType": "numbers",
                    "processing": true,
                    order: [[0, 'desc']],
                    "language": {
                        "processing": "Please wait"
                    },
                    "pageLength": 5,
                    "lengthChange": false,
                    "initComplete": function () {
                        console.log("initialize complete");
                    },
                    "searching": false,

                    "columnDefs": [
                        {
                            "targets": [1, 2],
                            "searchable": true,
                            "visible": true
                        }
                    ]
                });
        </script>
    }


    @main("Dashboard", scripts = scripts) {

        <div class="row">
            <div class="col-lg-4">
                <div class="box" style="">
                    <div class="box-header with-header">
                        <h3 class="box-title">Welcome, @user.fullname</h3>
                            <!-- tools box -->
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>Last Successful Login</label>
                            <p>@user.showLastSuccessfulLogin</p>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label>Last Unsuccessful Login</label>
                            <p>@user.showUnsuccessfulAttempt</p>
                        </div>
                    </div>
                    <br/><br/><br/><br/>

                </div>
            </div>
            @*div col*@
            <div class="col-lg-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Accounts</h3>
                    </div>
                        <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="account_table" width="100%" class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Account Name </th>
                                        <th>Currency </th>
                                        <th>Account Balance</th>
                                        <th>View Statement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(account <- user.getUserAccounts) {
                                    <tr>
                                        <td><a href="@controllers.authorizer.routes.StatementController.viewSingle(account.accountId)">@account.accountNumber</a></td>
                                        <td>@account.accountName</td>
                                        <td>@account.accountCurrencyCode</td>
                                        <td>@("%,.2f".format(Double.parseDouble(account.accountBalance)))</td>
                                        <td><a href="@controllers.authorizer.routes.StatementController.viewSingle(account.accountId)"><i class="glyphicon glyphicon-file"></i>
                                            View Statement</a>
                                        </td>
                                    </tr>

                                }
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                    </div>
                        <!-- /.box-body -->
                    <div class="box-footer clearfix">
                    </div>
                        <!-- /.box-footer -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recent Transactions</h3>
                    </div>
                        <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="transactions_table" class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Narration</th>
                                        <th>Credit/Debit</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(transaction <- user.getLastTransactions(5)) {
                                    <tr>
                                        <td>@transaction.accountNumber</td>
                                        <td>@transaction.narration</td>
                                        <td><span class="label label-@transaction.debitOrCreditHtmlClass">@transaction.debitOrCreditHtml</span></td>
                                        <td>@("%s%,.2f".format(FrontEndUtils.currency(transaction.currencyCode), Double.parseDouble(transaction.amount)))</td>
                                        <td>
                                        @transaction.getFormattedPostedDate
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                    </div>

                </div>
            </div>
        </div>

    }