@(logins:List[models.audittrails.Login])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        sharedfunctions.BreadCrumbs.generate("Login Audits", null);
    }
    @scripts ={
            <script type="text/javascript">


            $('#logins_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'desc']],

            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }


            ]
        });

    </script>
    }
@main("Login Audit",breadCrumb,scripts){

    <div class="box box-default color-palette-box">
        <div class="box-body">

        <table id="logins_table" class="table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Event</th>
                <th>Username</th>
            </tr>
        </thead>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Event</th>
                <th>Username</th>
            </tr>
            </tfoot>

        <tbody>

        @for(login <- logins ){
            <tr>
                <td>@login.id</td>
                <td>@login.loginEventDate</td>
                <td>@login.eventType.toString</td>
                <td>@if(login.user !=null){
                    <a  class="btn btn-success" href="@controllers.admin.routes.UserController.view(login.user.id)" ><i class="fa fa-user"></i> @login.user.username</a>
                }else{
                    <a href="#" class="btn btn-success"><i class="fa fa-user"></i> @login.username</a>
                }</td>


            </tr>
        }
</tbody>

</table>
</div></div>



}
