@page { size : 8.5in 11in ; margin-left : 0.69in  ; margin-right : 0.94in; margin-top : 2.55in ; margin-bottom : 1.0in; padding-bottom:0.15in }

            body { font-size : 9pt ; font-family : "Book Antiqua" ; line-height : 150% ; }

            p.western { font-size : 9pt ; so-language : en-US ; padding : 0px ; margin : 0px }
            p.paragraph { font-size : 9pt ; so-language : en-US ; padding : 0px ; margin : 0px; margin-top:10px }
            body {
                font-family : "Book Antiqua" ; font-size : 9pt ; margin : 0px ; padding : 0px ; line-height : 150%
            }
            p { margin : 0cm ; padding : 0px ; line-height : 150% }
            td p { margin-bottom : 0cm ; border-collapse : collapse }
            a : link { so-language : zxx }
            tr.border_bottom td {
            border-bottom : 1pt solid black ; border-collapse : collapse ; padding : 0cm
            }

            div.header {
            display: block; text-align: center;
            position: running(header);
            }
            div.footer {
            display: block; text-align: center;
            position: running(footer);
            margin-bottom: 0.0in;
            padding-bottom: 0.0in;
            }
            div.content {page-break-after: always;}

            @page{
            @top-center { content: element(header) }
            }
            @page{
            @bottom-center { content: element(footer) }
            }

            .division{
                border : none ; padding : 0in;
                min-height: 100px;
            }