@()

@breadCrumb = @{
    val myMap = scala.collection.immutable.Map(
        "Merchant Management" -> controllers.admin.routes.MerchantController.index().toString()
    )
    sharedfunctions.BreadCrumbs.generate("Create Merchants", myMap);
}

@scripts={
    <script>
    </script>
}

@main("Create Merchants",breadCrumb,scripts){
    <form role="form" method="post" action="@controllers.admin.routes.MerchantController.createMerchant().toString()">
    <div class="row" style="padding-top: 30px; padding-left: 370px">
        <input type="text" id="merchantid" name="merchantid" class="text-area form-control-static col-md-6" placeholder="Please enter a merchant id" required/>
        <br><br><br>
        <input type="text" id="cifid" name="cifid" class="text-area form-control-static col-md-6" placeholder="Please enter a CIF ID" required/>
        <br><br><br>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    </form>
}