@()

@breadCrumb = @{
    sharedfunctions.BreadCrumbs.generate("Merchant Management", null);
}

@scripts={
    <script>
    </script>
}

@main("Merchant Management",breadCrumb,scripts){
    <p>@wflash()</p>
    <a class="btn btn-primary" href="@controllers.admin.routes.MerchantController.addMerchant().toString()" title="Add New"><i class="fa fa-search"></i>Add New</a>
    <br><br>
    <table id="merchantTable" class="table table-striped table-hover table-bordered table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Activate Merchant</th>
                <th>Deactivate Merchant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a class="btn btn-success" href="@controllers.admin.routes.MerchantController.activateMerchant().toString()" title="Activate"><i class="fa fa-check"></i>Activate</a></td>
                <td><a class="btn btn-danger" href="@controllers.admin.routes.MerchantController.deactivateMerchant().toString()" title="Deactivate"><i class="fa fa-ban"></i>Deactivate</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Activate Merchant</th>
                <th>Deactivate Merchant</th>
            </tr>
        </tfoot>
    </table>
}