@()

@breadCrumb = @{
    sharedfunctions.BreadCrumbs.generate("Linked Accounts", null);
}

@scripts={
    <script>
        function linkNewAccount() {
            $("#linkAccountModal").modal('show');
        }

//        function validate() {
//            $("#linkAccountModal").modal('hide');
//        }
    </script>
}

@main("Linked Accounts",breadCrumb,scripts){
    <p>@wflash()</p>
    @*<a class="btn btn-primary" href="@controllers.admin.routes.MerchantController.addMerchant().toString()" title="Link Account"><i class="fa fa-search"></i>Link Account</a>*@
    <button class="btn btn-primary" onclick="linkNewAccount()" title="Link Account"><i class="fa fa-search"></i>Link Account</button>
    <br><br>
    <table id="linkedAccountsTable" class="table table-striped table-hover table-bordered table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Merchant ID</th>
                <th>Bank Accounts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nothing to display yet</td>
                <td>Nothing to display yet</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Merchant ID</th>
                <th>Bank Accounts</th>
            </tr>
        </tfoot>
    </table>

    <div id="linkAccountModal" class="modal fade" role="dialog">
    @*<div class="row" style="padding-top: 30px; padding-left: 370px">*@
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4><b>Link Account</b></h4>
                    </div>
                    <div class="modal-body" style="padding-left: 20px">
               <form role="form" method="post" action="@controllers.admin.routes.MerchantController.validate()">
                    <select id="merchantbank" name="merchantbank" class="form form-control-static col-md-7" required>
                      <optgroup label="Bank List">
                        <option>-- select a bank --</option>
                        <option>Keystone Bank</option>
                      </optgroup>
                    </select>
                        <br><br><br>
                        <input type="text" id="merchantid" name="merchantid" class="text-area form-control-static col-md-7" placeholder="Please enter your CIF ID for confirmation purpose" required/>
                        <br><br><br>
                        <button type="submit" class="btn btn-success">Validate</button>
               </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
    </div>
}