@()

@import helper._

@implicitField = @{
    FieldConstructor(bootstrap3Input.render)
}

@breadCrumb = @{
    val crumb = scala.collection.immutable.Map("Account Statements" -> "/accountstatements")
    sharedfunctions.BreadCrumbs.generate("View Account Statement", crumb);
}

@scripts = {
    <script type="text/javascript">
        var searchBy = false;
        $(document).ready(function(){
            //set up event handlers
            $('#viewform').submit(function(event){
                //make sure there is a valid account id
                var acidRegex = /[\d]+/;
                var accountChosen = acidRegex.test($('#account').val());

                //check if account chosen is valid
                    if(accountChosen == false){
                    event.preventDefault();
                    bootbox.alert("A valid account wasn't selected");
                    $('#account').focus();
                    return false;
                }

                //test date range
                var fromDate = $('#fromDate').val();
                var toDate = $('#toDate').val();
                var dateRangeValid = checkDateRange(fromDate, toDate);


                if(dateRangeValid == true){
                    //disable submit button to eliminate double posting
                    document.getElementById('submit-btn').disabled = 'disabled';
                    $('#viewform').submit();
                }else{
                    event.preventDefault();
                    $('#fromDate').focus();
                    return false;
                }
            });

            $('#searchBy').change(function(){
                changeSearchCriteria();
            })

            $('#searchByField').change(function(){
                loadAccounts();
            })

            loadAccounts();
        })


         // checkDateRange - Checks to ensure that the values entered are dates and
        //     are of a valid range. By this, the dates must be no more than the
        //     built-in number of days apart.
        function checkDateRange(start, end) {
           // Parse the entries
           var startDate = Date.parse(start);
           var endDate = Date.parse(end);
           // Make sure they are valid
            if (isNaN(startDate)) {
              bootbox.alert("The start date provided is not valid, please enter a valid date.");
              return false;
           }
           if (isNaN(endDate)) {
               bootbox.alert("The end date provided is not valid, please enter a valid date.");
               return false;
           }
           // Check the date range, 86400000 is the number of milliseconds in one day
           var difference = (endDate - startDate) / (86400000 * 7);
           if (difference < 0) {
               bootbox.alert("The start date must come before the end date.");
               return false;
           }
           return true;
        }

        function changeSearchCriteria(){
            //if searchBy == account
            if($('#searchBy').val() === "accountNumber"){
                $('#searchByFieldlbl').html("Account Number");
                console.log($('#searchByFieldlbl').val());
            }else{
              $('#searchByFieldlbl').html("CIF ID");
              console.log($('#searchByFieldlbl').val());
            }
        }
        function loadAccounts(){
            //make sure alert message is not empty
            var searchBy = $('#searchBy').val();
			var searchByField = $('#searchByField').val();
			console.log(searchByField);

			//add # to the searchByField if it is an account number so the backend can recognize it as an account number
            if(searchBy === "accountNumber"){
                searchByField = "-" + searchByField;
            }

			var options = {
					type: 'GET',
				    					url: '/accountstatements/allaccounts/'+ searchByField,
					dataType: 'html',
					error: function(xhr, textStatus, errorThrown) {
						alert('An error occurred while loading accounts please reload the page and try again');
					},
					success: function(data, textStatus) {
						$('#account').html( data );
					}
			};
			$.ajax(options);
        }
    </script>
}

@main("View Account Statement", breadCrumb, scripts) {
    <div class="box box-default color-palette-box">

        <div class="box-body">
            <p>@wflash()</p>
            <form class="form-horizontal" method="POST" id="viewform" action="@controllers.authorizer.routes.StatementController.view()">
                        <input value="cifId" type="hidden" id="searchBy" name="searchBy" class="form-control">

                        <input type="hidden" class="form-control" type="text" id="searchByField" value="@models.User.findByUserName(session.get("auth_user_name")).customerId" required maxlength="10" name="searchByField" onblur="javascript:loadAccounts();"/>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="account">Select Accounts</label>
                    <div class="col-sm-10">
                        <select id="account" name="account" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="fromDate">From<span style="color:red">*</span></label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" id="fromDate" placeholder="yyyy-mm-dd" name="fromDate" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="toDate">To<span style="color:red">*</span></label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" id="toDate" placeholder="yyyy-mm-dd" name="toDate" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="submit-btn" class="btn btn-success">View</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
