@()

@import helper._

@implicitField = @{
FieldConstructor(bootstrap3Input.render)
}

@breadCrumb = @{
    val crumb = scala.collection.immutable.Map("Audits" -> "/admin/audit")
    sharedfunctions.BreadCrumbs.generate("View Email Audits", crumb);
}

@scripts = {
<script type="text/javascript">


            $('#account_table').dataTable({

            "processing": true,
            "serverSide": true,
            "ajax": "/admin/audits/accountsJSON",
            order : [[2, 'desc']],
            "jQueryUI": true,
            "language": {
                "processing": "Please wait"
            },
            "initComplete": function() {

            },

            "columnDefs": [

            {
                "targets": [0],
                "searchable" : false,
                "visible" : false
            },
            {
                "targets": [1,2,3,4],
                "searchable" : true,
                "sortable" : true
            }


            ]
        });

    </script>
}
@main("View Email Audits", breadCrumb, scripts) {
<div class="box box-default color-palette-box">
    <div class="box-body">
        <p>@wflash()</p>
        <table id="account_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Id</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Account Balance</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>Customer Id</th>
                <th>Account Name</th>
				<th>Account Number</th>
                <th>Account Balance</th>
            </tr>
            </tfoot>
            <tbody>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>


}
