@(userForm:Form[models.form.UserForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
            "Users" -> controllers.admin.routes.UserController.index().toString()
        )
        sharedfunctions.BreadCrumbs.generate("New User", myMap);
    }

    @scripts ={
        <script type="text/javascript">
        $(document).ready(function(){
            @if(userForm.hasGlobalErrors) {
                bootbox.alert('@userForm.globalError.message ');
            }
        });

        </script>
    }

@main("New User",breadCrumb ,scripts){

    <div class="box">
        <div class="box-header">

        </div>
        <div class="box-body">
@helper.form(controllers.admin.routes.UserController.save(), 'class -> "form-horizontal"  ){

        @select(
                userForm("role"),
                options =Role.values().map(p=>p.toString->p.toString),
                '_label->"Role",
                'required ->"",
                'class -> "form-control form-control-square"
        )



        @inputText(
            userForm("customerId"),
            '_label -> "Customer Id",
            'class -> "form-control form-control-square",
            'required -> ""

        )

        @*
        @inputText(
            userForm("password"),
            '_label -> "Password",
            'class -> "form-control form-control-square"
        )
        *@


        <br/>

        <br/>

        <input type="submit" value="Create" class="btn btn-primary">


    }
        </div>
    </div>


}