@(userForm:Form[models.form.UserForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
            "Users" -> controllers.admin.routes.UserController.index().toString()
        )
        sharedfunctions.BreadCrumbs.generate("Edit User", myMap);
    }

    @scripts ={
        <script type="text/javascript">
        $(document).ready(function(){
            @if(userForm.hasGlobalErrors) {
                bootbox.alert('@userForm.globalError.message ');
            }
        });

        </script>
    }

@main("Edit User",breadCrumb ,scripts){

    @helper.form(controllers.admin.routes.UserController.update(), 'class -> "form-horizontal"  ){

        @inputText(
            userForm("id"),
            '_label -> "ID",
            'placeholder -> "ID",
            'class -> "form-control form-control-square",
            'hideIt->true,
            'type->"hidden"

        )

        @select(
                userForm("role"),
                options =Role.values().map(p=>p.toString->p.toString),
                '_label->"Role",
                'required ->"",
                'class -> "form-control form-control-square"
        )




        @inputText(
            userForm("userName"),
            '_label -> "Username",
            'class -> "form-control form-control-square",
            'required ->""

        )

        @inputText(
            userForm("password"),
            '_label -> "Password",
            'class -> "form-control form-control-square"
        )


        <br/>

        <br/>

        <input type="submit" value="Update" class="btn btn-primary">


    }

}