@import models.audittrails.Event
@(users:List[models.User])

@import helper._
@import play.i18n._

@implicitField = @{
FieldConstructor(bootstrap3Input.render)
}

@breadCrumb = @{
sharedfunctions.BreadCrumbs.generate("Users", null);
}
@scripts ={
<script type="text/javascript">


            $('#users_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[4, 'desc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            },
            {
                "aTargets": [5,6,7,8],
                "bSearchable" : false
            }

            ]
        });

    </script>
}
@main("Users",breadCrumb,scripts){
<div class="box box-default color-palette-box">
    <div class="box-header with-border">
    </div>
    <div class="box-body">
        <p>@wflash()</p>

        <table class="table"><a href="@controllers.admin.routes.UserController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a></table>
        <br/>
        <table id="users_table" class="table table-striped table-hover"  cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Suspended</th>
                <th>Date Created</th>
                <th>View</th>
                <th>Edit</th>
                <th>Enable</th>
                <th>Disable</th>
            </tr>
            </thead>

            <tbody>

            @for(user <- users ){
            <tr>
                <td>@user.id</td>
                <td>@user.username</td>
                <td>@user.role.name</td>
                <td>@if(user.isEnabled){
                    No
                    }else{
                    Yes
                    }</td>
                <td>@user.userHistories.filter(_.event.equals(Event.CREATED)).map(_.eventDate.format("yyyy-MM-dd HH:mm:ss"))</td>
                <td><a class ="btn btn-primary" href="@controllers.admin.routes.UserController.view(user.id)" title="View"><i class="fa fa-eye"></i></a></td>
                <td><a class ="btn btn-info" href="@controllers.admin.routes.UserController.edit(user.id)" title="Edit"><i class="fa fa-pencil-square-o"></i></a></td>
                <td><a class ="btn btn-success" href="@controllers.admin.routes.UserController.enable(user.id)" title="Enable"><i class="fa fa-check"></i></a></td>
                <td><a class ="btn btn-danger" href="@controllers.admin.routes.UserController.disable(user.id)" title="Suspend"><i class="fa fa-ban"></i></a></td>

                }
            </tbody>

        </table>
    </div></div>




}
