@(user:models.User,wrongPasswordLogins:List[models.audittrails.Login])


    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
            "Users" -> controllers.admin.routes.UserController.index().toString()

        )
        sharedfunctions.BreadCrumbs.generate(user.username, myMap);
    }

    @scripts ={
        <script type="text/javascript">
        $(document).ready(function(){

            $("#login_audit_table" ).dataTable({
            aaSorting : [[1, 'desc']],

            });

            $("#user_hist_table" ).dataTable({
            aaSorting : [[1, 'desc']],

            });

        });

        </script>
    }

@main("View "+user.username,breadCrumb, scripts){

    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs nav-tabs-square mytab">
            <li class="active"><a data-toggle="tab" href="#uinfo" class="tab-default"><i class="fa fa-user"></i>
                Identity</a></li>
            <li class=""><a data-toggle="tab" href="#login_audit" class="tab-default" ><i class="fa fa-suitcase"></i>
                Login Attempts</a>
            </li>
            <li class=""><a data-toggle="tab" href="#user_hist" class="tab-default" ><i class="fa fa-history"></i>
                User Audit</a>
            </li>

        </ul>
    </div>

    <div class="tab-content">

        <div id="uinfo" class="box box-default color-palette-box  tab-pane fade in active ">
            <div class="box-header with-border">Account Info
                <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
                    <em class="fa fa-minus"></em>
                </a>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="box-body">
                    <table class="table " style='width:40% !important'>
                        <tr>
                            <th>Username</th>
                            <td>@user.username</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>@user.role</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>
                            @if(user.isEnabled){
                                Enabled
                            }else{
                                Disabled
                            }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div id="login_audit" class="box box-default color-palette-box  tab-pane fade ">
            <div class="box-header with-border">Login Attempts
                <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
                    <em class="fa fa-minus"></em>
                </a>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="box-body">
                    <table  class="table table-bordered table-bordered-square table-striped" id="login_audit_table">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                                <th>IP Address</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(user.loginAuditTrails!=null) {

                            @for(audit <- user.loginAuditTrails) {
                                <tr>
                                    <td>@audit.eventType</td>
                                    <td>@audit.loginEventDate</td>
                                    <td>@audit.ipAddress</td>
                                </tr>
                            }

                            @if(wrongPasswordLogins != null) {
                                @for(audit <- wrongPasswordLogins) {
                                    <tr>
                                        <td>@audit.eventType</td>
                                        <td>@audit.loginEventDate</td>
                                        <td>@audit.ipAddress</td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>


                    </table>
                </div>
            </div>
        </div>




        <div id="user_hist" class="box box-default color-palette-box  tab-pane fade ">
            <div class="box-header with-border">User Audit
                <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
                    <em class="fa fa-minus"></em>
                </a>
            </div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="box-body">
                    <table  class="table table-bordered table-bordered-square table-striped" id="user_hist_table">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(user.userHistories!=null) {

                            @for(audit <- user.userHistories) {
                                <tr>
                                    <td>@audit.event</td>
                                    <td>@audit.eventDate.format("yyyy-MM-dd HH:mm:ss")</td>
                                </tr>
                            }

                        }
                        </tbody>


                    </table>
                </div>
            </div>
        </div>




        </div>

}
