@(elements: helper.FieldElements)

@if(!elements.args.contains('hideIt)) {
    <h5 for="@elements.id">@elements.label</h5>
}
@elements.input
@*<p class="help-inline">@elements.infos.mkString(", ")</p>*@
<span class="bg-danger">@elements.errors.mkString(", ")</span>