@(title: String, role: String)

<!-- Optionally, you can add icons to the links -->
<li @if(title.contains("Dashboard")){ class="active" }>
    <a href="/"><i class="ion ion-android-color-palette"></i> <span>Dashboard</span></a>
</li>
<li @if(title.contains("Account Statement")){ class="active" } class="treeview">
    <a href="@controllers.authorizer.routes.StatementController.index().toString()"><i class="ion ion-cash"></i> <span>Account Statements</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li @if(title.contains("View Account Statement")){ class="active" } ><a href="@controllers.authorizer.routes.StatementController.view().toString()">View Account Statements</a></li>
    </ul>
</li>
@*<li @if(title.contains("Link Account")){ class="active" } class="treeview">*@
    @*<a href="@controllers.authorizer.routes.StatementController.index().toString()"><i class="ion ion-arrow-shrink"></i> <span>Link Accounts</span> <i class="fa fa-angle-left pull-right"></i></a>*@
    @*<ul class="treeview-menu">*@
        @*<li @if(title.contains("Link Accounts")){ class="active" } ><a href="@controllers.admin.routes.MerchantController.linkAccounts().toString()">Link Accounts</a></li>*@
    @*</ul>*@
@*</li>*@
@if(role=="ADMIN"){
<li @if(title.contains("Audits")){ class="active" } class="treeview">
    <a href="@controllers.admin.routes.AuditController.loginAudits().toString()"><i class="ion ion-ios-locked"></i> <span>Alert Permissions</span> <i class="fa fa-angle-left pull-right"></i></a>
</li>

<li @if(title.contains("User")){ class="active" } class="treeview">
    <a href="@controllers.admin.routes.UserController.index().toString()"><i class="ion ion-ios-email"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i></a>
</li>

@*<li @if(title.contains("Merchant")){ class="active" } class="treeview">*@
    @*<a href="@controllers.admin.routes.MerchantController.index().toString()"><i class="ion ion-ios-briefcase"></i> <span>Merchant Management</span> <i class="fa fa-angle-left pull-right"></i></a>*@
@*</li>*@
}